<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1
        {
            background: linear-gradient(70deg,red,violet,blue,orange);
        }
    </style>
</head>
<body>
    <center>
        <h1>This is extreme html page</h1>
        <h1>This is done by using generic url mapping</h1>
        <a href="{% url 'apache' %}">go to apache page</a>
    </center>
</body>
</html>